{% extends 'my_site/base.html' %}

{% block content %}

<div class="my-5">
    <h1>家計簿</h1>
    <h2 class="mt-5">月ごとの生活費</h2>
    <img src={{ month_path }}
                width=80%>
    <hr>
    <h2 class="mt-5">カテゴリごとの生活費</h2>
    <img src={{ category_path }}
                width=80%>
    <h2 class="mt-5">{{category_month_path}}</h2>
    <img src={{ category_month_path }}
                width=80%>
    <!-- <img src="static/images/bar_{{ year }}_{{ month }}.svg"
                width=80%> -->
    <!-- <img src="money_site/static/images/bar_{{ year }}_{{ month }}.svg"
                width=80%> -->
</div>

{% endblock %}